Kliens/Kliens/Service References/MyBankService/Service131.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30237/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:element name="Bejelentkezes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BejelentkezesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BejelentkezesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kijelentkezes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KijelentkezesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KijelentkezesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Feltoltes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="osszeg" type="xs:int" />
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FeltoltesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FeltoltesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lekerdezes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LekerdezesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LekerdezesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Utalas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="felhnev" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="osszeg" type="xs:int" />
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UtalasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="UtalasResult" nillable="true" type="q1:Utal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UtalasokList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UtalasokListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="UtalasokListResult" nillable="true" type="q2:ArrayOfUtalasok" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>